{{#section 'css'}}
    <style>
        img { padding: 50px 200px; width: 50%; }
    </style>
{{/section}}

{{#section 'script'}}
{{/section}}

<main>
   <a href="/zipcode"><img src="/img/hoteak.jpeg" alt=""></a>
</main>
